{% extends "../../../templates/base.html" %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock  %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog_site/../../static/blog_site/posts_detail.css' %}">
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in post_tags %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{% static 'blog_site/images/'|add:post.image_name %}" alt="{{ post.title }}"/>
            <address>By <a href="mailto: {{ post.author.email }}">{{ post.author }}</a></address>
        <div>
            Last Updated On: <time>{{ post.date|date:"d M Y" }}</time>
        </div>
        </article>
    </section>

    <main>
        {{ post.content }}
    </main>
{% endblock  %}